.home-page {
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
}

.home-topicbar {
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  width: 100%;
  background-color: #fbfbfb;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.home-main {
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  width: 300px;
}

.home-tabblock {
  display: block;
  justify-content: center;
  align-items: center;
  float: center;
  width: 100%;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.home-tab {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  float: center;
  width: 50%;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.home-tabbutton {
  background-color: #d7d7d7;
  width: 100%;
}

.home-tabcontentcontainer {
  width: 100%;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.home-tabcontent {
  width: 100%;
}

.home-avataricon {
  display: inline-grid;
  justify-content: left;
  align-items: left;
  float: center;
  padding-left: 10px;
  padding-right: 10px;
}

.home-messagecontainer {

}

.home-messageblock {
  display: inline-flex;
}

.home-messagebottomblock {
  display: grid;
}

.home-messagetoolblock {
  display: inline-block;
  width: 80%;
}

.home-messageiconblock {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  float: center;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.home-messagesendblock {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  float: center;
  width: 20%;
}

.home-foryoucontainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: center;
  width: 100%;
}

.home-foryoublock {
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.home-foryoutopic {
  font-size: large;
  font-weight: bold;
}

.home-foryoudescript {

}

.home-foryoufindfanscontainer {
  display: grid;
  justify-content: left;
  align-items: left;
  float: left;
}

.home-foryoufindfansbutton {
  background-color: #eba601;
}
