.home-page {

}

.home-topicbar {
  display: flex;
  justify-content: center;
  align-items: center;
  float: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.home-main {

}

.home-section {

}

.home-tab {

}

.home-tab-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  float: center;
  background-color: #f5f5f5;
}

.home-tab-label {
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  padding: 2.5px 10px 2.5px 10px;
  background-color: yellow;
  width: 100%;
  border: 1px solid #000;
}
