.login-container {
  height: 100vh;
}

.login-block {
  width: max-content;
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  position: relative;
  top: 50px;
  padding: 25%;
  background-image: url("../icons/LoginButton.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("../icons/LoginButton.png"); */
}

.login-topicbar {
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  width: 250px;
}

.login-form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  height: 140px;
}

.login-form-block {
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  height: 150px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5px;
  padding-bottom: 2.5px;
}

.login-form input {
  background-color: rgb(94, 203, 254);
}

.register {
  color: black;
}