.login-container {
  height: 100vh;
}

.login-block {
  width: max-content;
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  position: relative;
  top: 50px;
  padding: 25%;
  margin: auto;
  background-image: url("../icons/LoginButton.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("../icons/LoginButton.png"); */
}

.login-completed {
  animation: rotate-scale 1s 2 alternate;
}

@keyframes rotate-scale {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}

.wellcome-message {
  width: 250px;
  height: 84px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.login-topicbar {
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  width: 250px;
}

.login-form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  height: 140px;
}

.login-form-block {
  display: grid;
  justify-content: center;
  align-items: center;
  float: center;
  height: 150px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5px;
  padding-bottom: 2.5px;
}

.login-form input {
  background-color: rgb(94, 203, 254);
}

.register {
  color: black;
}