.register-page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid grey;
}

.register-topicbar {
  display: flex;
  justify-content: center;
  align-items: center;
  float: center;
  width: 100%;
  background-color: #fbfbfb;
  border-bottom: 1px solid grey;
}

.icon {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.register-section {

}

.register-form-container {
  height: 200px;
  background-color: #d7d7d7;
}

.register-form-block {
  height: 150px;
}

.register-form {
  padding-left: 10px;
  padding-right: 10px;
}

.register-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid;
}

.register-submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eba601;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 20%;
}
