.setting-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.setting-topicbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fbfbfb;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.setting-section {
  margin-bottom: 20px;
}

.setting-section h2 {
  margin-bottom: 10px;
}

.setting-delete-account-button {
  background-color: #d7d7d7;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.setting-delete-account-button:hover {
  background-color: #eba601;
  color: white;
}

.setting-delete-dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-delete-dialog {
  display: grid;
  justify-content: center;
  background-color: #d7d7d7;
  width: 500px;
}

.setting-delete-dialog p {
  font-size: 20px;
  margin-bottom: 20px;
}

.setting-delete-dialog-topic {
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  width: 500px;
}

.setting-delete-dialog-description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.setting-delete-dialog-actions {
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 500px;
}

.setting-delete-dialog-button-container {
  padding-left: 80px;
  padding-right: 80px;
}

.setting-delete-confirm-button {
  width: 60px;
  height: 60px;
}

.setting-delete-confirm-button:hover {

}

.setting-delete-cancel-button {
  width: 60px;
  height: 60px;
}

.setting-delete-cancel-button:hover {

}
