.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  float: center;
}

.flex-div {
  display: flex;
}

.grid-div {
  display: grid;
}

.block-div {
  display: block;
}

.inline-flex-div {
  display: inline-flex;
}

.inline-grid-div {
  display: inline-grid;
}

.inline-block-div {
  display: inline-block;
}

.description-text {
  color: #4d4d4d;
  font-size: 12px;
}

.faded-screen-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-block {
  border-style: solid;
  border-color: red;
  border-width: 1px;
}
